#canvasContainer {
  position: relative;
  width:800px;
  height:600px;
  overflow: scroll;
}

#canvasContainer>* {
  position: absolute;
  top: 0;
  left: 0;

}

#base {
  background-color: white;
  z-index: 0; 
}
