::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


#canvasContainer {
  position: relative;
  width:100%;
  height:100%;
  overflow: scroll;
}

#canvasContainer>* {
  position: absolute;
  top: 0;
  left: 0;

}

#base {
  background-color: white;
  z-index: 0; 
}

