<div 
  id="canvasContainer" 
  #container 
  (mouseenter)="onMouseEnter()"
  (mousedown)="onMouseDown($event)" 
  (mousemove)="onMouseMove($event)" 
  (mouseup)="onMouseUp()"
  (mouseleave)="onMouseLeave()"
  >

  <canvas width="1820" height="1024" id="base" [ngStyle]="{zoom: currZoom}" #base></canvas>
  <canvas width="1820" height="1024" id="self" [ngStyle]="{zoom: currZoom}" #self></canvas>
  
  <svg width="1820" height="1024" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{zoom: currZoom}">
    <circle 
      stroke="black" stroke-width="1" fill="none"
      [attr.cx]="myPaintCursor.x" 
      [attr.cy]="myPaintCursor.y" 
      [attr.r]="myPaintCursor.size / 2"
      [attr.display]="myPaintCursor.isVisible ? 'block' : 'none'"/>
      
      <circle *ngFor="let peer of peerList | keyvalue"
      stroke="black" stroke-width="1" fill="none"
      [attr.cx]="peer.value['cursor'].x" 
      [attr.cy]="peer.value['cursor'].y" 
      [attr.r]="peer.value['cursor'].size / 2"
      [attr.display]="peer.value['cursor'].isVisible ? 'block' : 'none'"/>
  </svg>
  
  <canvas *ngFor="let peer of peerList | keyvalue"
    [attr.id]="peer.key"
    width="1820" height="1024" 
    [ngStyle]="{zoom: currZoom}" 
  ></canvas>
</div>