

app-playbck {
  position: relative;
  /* padding-top: 56.25%;
  overflow: scroll; */
}

#greeting {
  position: relative;
  top: 10vh;
  left: 30px;
}

#greeting img {
  /* margin-top: 30%; */
  width:90%;
  height:auto;
}