#mainContainer {
  height:100vh;
  width: 100vw;
  
}
app-roomlist {
  position: relative;
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 300px;
  overflow: scroll;
}

app-room {
  vertical-align: top;
  display: inline-block;
  height:100%;
  width: calc(100% - 300px);
  margin-right: -10px;
  overflow: scroll;
}

.bg-lightgrey {
  background-color: rgb(214, 226, 230)
}

::-webkit-scrollbar {
  width: 10px;  /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(226, 226, 226, 0.8);
}