<nav class="navbar fixed-top navbar-dark bg-transparent">
  <ul class="nav nav-pills">
    <li *ngIf="!isLoggedIn()" class="nav-item">
      <a class="nav-link active"  (click)="showLoginForm()">Log in</a>
    </li>
    <li *ngIf="!isLoggedIn()" class="nav-item">
      <a class="nav-link active ml-2"  (click)="showSignupForm()">Sign up</a>
    </li>

    <li *ngIf="isLoggedIn()" class="nav-item">
      <a class="nav-link active ml-2" (click)="showCreateRoomForm()">Create room</a>
    </li>

    <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link active ml-2" (click)="logOutClicked()">Log out</a>
      </li>
  </ul>
</nav>
<div id="mainContainer" class="bg-lightgrey">
  <app-room 
    [roomToShow]="roomToShow"
    (queryEmitted)="queryRoomList($event)"
  ></app-room>
  <app-roomlist 
    (roomClicked)="setRoomToShow($event)"
    [query]="currQuery" 
  >
  </app-roomlist>
</div>