<!-- <nav class="navbar fixed-top navbar-dark bg-transparent">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#!" (click)="showLoginForm()">Log in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active ml-2" href="#!" (click)="showSignupForm()">Sign up</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active ml-2" href="#!" (click)="showCreateRoomForm()">Create room</a>
    </li>
  </ul>
</nav>
<div id="mainContainer" class="bg-warning">
  <app-room></app-room>
  <app-roomlist></app-roomlist>
</div> -->
<router-outlet></router-outlet>