<img src="assets/brush.png" alt="brush" [ngClass]="{'selected': currTool === 'BRUSH' }" (click)="changeTool('BRUSH')">
<img src="assets/eraser.png" alt="eraser" [ngClass]="{'selected': currTool === 'ERASER' }" (click)="changeTool('ERASER')">
<img src="assets/eyedropper.png" alt="eyedropper" [ngClass]="{'selected': currTool === 'EYEDROPPER' }" (click)="changeTool('EYEDROPPER')">
<img src="assets/ruler.png" alt="ruler" [ngClass]="{'selected': currTool === 'RULER' }" (click)="changeTool('RULER')">
